<?xml version="1.0" encoding="utf-8"?> 

<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<link href="Estilo.css" rel="stylesheet" type="text/css" />-->
    <style>
        .p1 {
            font-weight: bold;
            font-size: larger;
        }

        .p2{
            font-style: italic;
            font-weight: bold;
            font-family: 'Arial Rounded MT';
        }
       
    </style>


</head>




<body>

    <p class="p1">
        Su registro se ha completado correctamente.
        </p>

        <p>
            Para cualquier aclaración, diríjase a la siguiente página:
            <a href="https://www.itesrc.edu.mx/">https://www.itesrc.edu.mx/</a>
        </p>

    <p class="p2">
        Daniela Gpe.Ordoñez Barrón <b>201G0272</b>
    </p>
     
    

</body>
